<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="STAT_GamesWon" value="0" />
    <add key="STAT_GamesLost" value="0" />
    <add key="STAT_MostStepsTakenToWin" value="0" />
    <add key="STAT_LessStepsTakenToWin" value="9999" />
  </appSettings>
</configuration>